@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 900;
}

html,
body {
    width: 100%;
    height: 100%;
}

.homepage {
    width: 100%;
    height: 100%;
}

.btn {
    display: inline-block;
    cursor: pointer;
    background: #aaa;
    box-shadow: inset 0px -5px 0px rgb(149, 149, 149);
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    padding: 8px 19px;
}

.btn-yellow {
    background: #f6b600;
    box-shadow: inset 0px -5px 0px #e4aa00;

    &:active {
        box-shadow: inset 0px 5px 0px #e4aa00;
    }
}

.btn-brown {
    background: #c58436;
    box-shadow: inset 0px -5px 0px #a46d35;

    &:active {
        box-shadow: inset 0px 5px 0px #a46d35;
    }
}

.btn-red {
    background-color: #f44336;
    box-shadow: inset 0px -5px 0px #de3a2f;

    &:active {
        box-shadow: inset 0px 5px 0px #de3a2f;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }